footer{
    background-color:var(--theme-black);
    color:var(--theme-white);
    text-align: center;
    padding: 30px 10px 10px 10px;
    font-size: 15px;
}
.column{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px,1fr));
    padding-bottom: 20px;
   
}
.item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    padding: 10px;
}
.item > h3{
    padding-bottom: 10px;
}