.container{
    color: var(--theme-white);
    padding: 60px 60px;
    background-color:var(--theme-black);
    border-top: 1px solid var(--theme-decoracion) ;  
}
h2{
    margin: 30px;
    font-size: 50px;
    color: var(--theme-decoracion)
}
.flex{
    display: flex;   
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
}

.column__img{
    width: 300px;
    height: 600px;
    margin: 20px 15px; 
}

.column__img img{    
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.column__text{    
    width: 600px;
    height: 400px;
    margin: 20px 15px;
}