.container{
    color: var(--theme-white);
    padding: 60px 60px;
    background-color:var(--theme-black);
    border-top: 1px solid var(--theme-decoracion) ;  
}
h2{
    margin: 25px;
    font-size: 40px;
    color: var(--theme-decoracion)
}
.flex{
    display: flex;   
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
}

.column__img{
    width: 300px;
    height: 500px;
    margin: 20px 15px; 
    background-size: cover;
}
.column__img img{    
    height: 80%;
    width: 90%;
    /*object-fit: cover;*/
}
.column__text{    
    width: 600px;
    height: 400px;
    margin: 20px 65px;
}
.column__text p{
    font-size: 18px;  
    padding: 10px;
}